<div class="header">
    <img class="logo" src="../../../assets/logotipo-texto-negro-mini.png" alt="logo">
    <picture>
        <source srcset="../../../assets/Iso-gafas-Sol-1000x1000.png" media="(min-width:500px)">
        <img class="profile" src="../../../assets/Iso-gafas-Sol-500x500.png" alt="profile">
    </picture>
    <h1>FULL STACK DEVELOPER</h1>
    <p>I make web apps, I try to be as minimalistic as possible, without compromissing code legibility and mantainability.</p>
    <h3>Projects I've worked on</h3>
    <span>&#8675;</span>
</div>
